@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }


/* font size */
.color{
    color: #13193399;
}
.font-16{
    font-size: 16px;
}

.font-20{
    font-size: 20px;
}

.font-24{
    font-size: 24px;
}
.font-32{
    font-size: 32px;
}

/* font weight */

.semi-bold{
    font-weight: 600;
}

.bold{
    font-weight: 700;
}

.extra-bold{
    font-weight: 800;
}


#head .header{
    display: flex;
   justify-content: space-between;
   
}

#head .header .container .title{
    margin: 0;
    margin-left: 150px;
    font-size: 28px;
    margin-top: 50px;
    background-color: tomato;
}

#head .header .btn-container{
    margin-right: 174px;
    margin-top: 38px;
}

#head .header .btn-container .btn{
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: tomato;
}

/* first image */

#title{
    background-image: url(../images/Hero-bg.png);
    background-color: rgb(164, 192, 244);
    margin-top: 48px;
    margin-bottom: 75px;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#title .second-pert .first-line{
    font-size: 48px;
    margin-right: 221px;
    margin-left: 221px;
    margin-bottom: 20px;
}

#title .second-pert .second-line{
    margin-right: 294px;
    margin-left: 294px;
    margin-bottom: 35px;
    line-height: 25px;
}

#title .second-pert .btn-container .btn{
    padding: 15px;
    border-radius: 7px;
    border: none;
    background-color: rgb(4, 165, 213);
}


/* second-pert */


#second-part .title{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    
}

#second-part .title .second-line{
    line-height: 26px;
    margin-right: 144px;
    margin-left: 144px;
}


#second-part .first-box{
    display: flex;
    justify-content: space-around;
    padding-bottom: 48px;
    
    
}


#second-part .first-box .write .toha{
    line-height: 30px;
    width: 390px;
}

#second-part .first-box .write .sub-title{
    line-height: 30px;
    
    width: 468px;
}


#second-part .first-box .image-right img{
    width: 274px;
    height: 240px;
    padding-top: 48px;
    
}

#second-part .first-box .write .btn-container button{
    padding: 10px;
    background-color: rgb(180, 180, 185);
    border: none;
    border-radius: 5px;
    
}

/* second box */

#second-part .first-box-2{
    display: flex;
    justify-content: center;
    margin-left: 150px;
    padding-bottom: 48px;
    margin-right: 398px;
    gap: 70px;
    
    
    
}


#second-part .first-box-2 .write .toha{
    line-height: 30px;
    width: 477px;
}

#second-part .first-box-2 .write .sub-title{
    line-height: 30px;
    
    width: 477px;
}



#second-part .first-box-2 .image-right img{
    width: 274px;
    height: 240px;
    padding-top: 48px;
    
    
}

#second-part .first-box-2 .write .btn-container button{
    padding: 10px;
    background-color: rgb(180, 180, 185);
    border: none;
    border-radius: 5px;
}


/* 3rd part */

#third-part{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

#third-part .container .head{
    margin-bottom: 20px;
}

#third-part .container .lekha{
    line-height: 20px;
    margin: 0px 295px 20px;
}


/* 4th part */

#fourth-part{
    margin-bottom: 100px;
}

#fourth-part .first{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 70px;
}

#fourth-part .first .sub-title{
    margin-right: 294px;
    margin-left: 294px;
}

#fourth-part .second{
    display: flex;
    gap: 30px;
    margin-right: 150px;
    margin-left: 150px;
    
    
}

#fourth-part .second .box .pera{
    line-height: 25px;
    color: #13193399;
}

#fourth-part .second .box{
    border: none;
    padding: 40px;
    border-radius: 10px;
}

#fourth-part .second .btn-container button{
    padding: 10px;
    background-color: rgb(180, 180, 185);
    border: none;
    border-radius: 5px;
}

#fourth-part .second .card-1{
    background-color:rgb(17, 223, 246);
}

#fourth-part .second .card-2{
    background-color: rgb(214, 215, 218);
}

#fourth-part .second .card-3{
    background-color: rgb(245, 249, 245);
}


/* 5th part */

#fifth-part .container .first{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 48px;
}

#fifth-part .container .first .title{
    margin-bottom: 20px;
}


#fifth-part .container .first .sub-title{
    line-height: 30px;
    margin-right: 294px;
    margin-left: 294px;
}

